/* Quiz 2 CSS File */
  
body {
  width:1000px;
}

#bodyBlock {
  width: 700px;
  margin: auto;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

button {
  /*align-self: center;*/
}

.makeItPurple {
  color: purple;
  font-style: italic;
  font-variant: small-caps;
}